{% extends 'base.html.twig' %}

{% block title %}
    Mon compte | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Mon compte</h1>
        Bienvenue {{ app.user.firstname | capitalize }}, <small>{% if is_granted("ROLE_ADMIN") %}l' administrateur<br>{% endif %}</small>
        <hr>


        <div class="row">
            <div class="col-md-3">
                <div class="account-item text-center">
                    <img src="{{ asset('assets/img/secure.png') }}" alt="Modifier mon mot de passe"><br>
                    <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="account-item text-center">
                    <img src="{{ asset('assets/img/address.png') }}" alt="Gérer mes adresses"><br>
                    <a href="{{ path('account_address') }}">Gérer mes adresses</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="account-item text-center">
                    <img src="{{ asset('assets/img/purchase.png') }}" alt="Gérer mes commandes"><br>
                    <a href="{{ path('account_order') }}">Gérer mes commandes</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="account-item text-center">
                    <img src="{{ asset('assets/img/purchase.png') }}" alt="Gérer mes articles"><br>
                    <a href="{{ path('blog_admin') }}">Gérer mes articles</a>
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN')  %}

                <hr class="col-7 mt-20 text-center ">
                <small>Vous etes un administrateur</small><br>
                <div class="col w-25 justify-content-center">
                    <div class="account-item text-center">
                        <img src="{{ asset('assets/img/purchase.png') }}" alt="Gérer mes commandes"><br>
                        <a href="{{ path('admin') }}">Accéder au backoffice</a>
                    </div>
                </div>
            {% endif %}
        </div>


    </div>
{% endblock %}