{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe -Bionutri{% endblock %}

{% block content %}
    <div class="container-sm">
        {% if notification %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> {{ notification }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x"></i></button>
            </div>
        {% endif %}

        {{ form_start(form) }}
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-registration-style-2">
                    <h4 class="heading-4 font-weight-500 title text-center">Réinitialisation mot de passe</h4>
                    <div class="login-registration-form">
                        <div class="single-form form-default form-border">
                            <div class="row">
                                <div class="col-6">
                                    <p class="black">Pré-nom</p>
                                    {{ form_widget(form.firstname) }}
                                    <p class="small fst-italic lh-1">{{ form_errors(form.firstname) }}</p>
                                </div>
                                <div class="col-6">
                                    <p class="black">Nom</p>
                                    {{ form_widget(form.name) }}
                                    <p class="small fst-italic lh-1">{{ form_errors(form.name) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-form form-default form-border">
                            <div class="row">
                                <div class="col-6">
                                    <p class="black">Téléphone</p>
                                    {{ form_widget(form.phone) }}
                                    <p class="small fst-italic lh-1">{{ form_errors(form.phone) }}</p>
                                </div>
                                <div class="col-6">
                                    <p class="black">E-mail</p>
                                    {{ form_widget(form.email) }}
                                    <p class="small fst-italic lh-1">{{ form_errors(form.email) }}</p>
                                </div>
                            </div>

                        </div>

                        <div class="single-form form-default form-border">
                            <p class="black">Actuel mot de passe</p>
                            <p class="small fst-italic lh-1">{{ form_errors(form.old_password) }}</p>
                            {{ form_widget(form.old_password) }}
                        </div>

                        <div class="single-form form-default form-border">
                            <p class="black">Nouveau mot de passse</p>
                            <p class="small fst-italic lh-1">{{ form_errors(form.new_password.first) }}</p>
                            {{ form_widget(form.new_password.first) }}
                        </div>

                        <div class="single-form form-default form-border">
                            <p class="black">Confirmer Nouveau mot de passse</p>
                            {{ form_widget(form.new_password.second) }}
                            <p class="small fst-italic lh-1">{{ form_errors(form.new_password.second) }}</p>
                        </div>
                        <div class="single-form">
                            <div class="d-grid gap-2">
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
