{% extends 'base.html.twig' %}

{% block title %}{{ product.name}} -Bionutri{% endblock %}

{% block style %}
    <style>
        .card {
            border: none
        }

        .form-color {
            background-color: #fafafa
        }

        .form-control {
            height: 48px;
            border-radius: 25px
        }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #35b69f;
            outline: 0;
            box-shadow: none;
            text-indent: 10px
        }

        .c-badge {
            background-color: #35b69f;
            color: white;
            height: 20px;
            font-size: 11px;
            width: 92px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2px
        }

        .comment-text {
            font-size: 13px
        }

        .wish {
            color: #35b69f
        }

        .user-feed {
            font-size: 14px;
            margin-top: 12px
        }

        .principal {
            background-color: #fafafa;
        }

    </style>

{% endblock %}



{% block content %}

    <div class="container mt-10">

        <div class="row color1" style="background: #e5eee7">
            <div class="col-md-auto">

                <img class="cropped1" src="{{ asset('/uploads/product/' ~ product.illustration )| imagine_filter('squareSmall') }}" alt="{{ product.name }}">

                <hr>

            </div>

            <div class="col-md-6" style="border-left: 5px solid #aedecc ;">
                <h3>{{ product.name }}</h3>

                <p>{{ product.subtitle }}</p><br>
                <p>{{ product.description }}</p>
                <hr>
                <h6 class="price-title">Categorie: </h6>
                <h6 class="price-title">Tag: </h6>
                <hr>
                <div class="product-price-btn text-lg-right">
                    <div class="product-price">
                        <h6 class="price-title">Prix: </h6>
                        <b class="text-decoration-line-through regular-price"> {{ (product.price)/100|number_format(2) }}</b>
                        <b class="sale-price"> {{ (product.price)/100|number_format(2) }}  CDF</b>
                    </div>

                    <div class="product-btn">
                        <a href="{{ path('add_to_cart', {'id': product.id}) }}" class="main-btn primary-btn"><img src="{{ asset('assets/img/icon-svg/cart-7.svg') }}" alt="">Ajouter Maintenant</a>
                    </div>
                </div>

            </div>

        </div>
    </div>





    {% include 'comment.html.twig' %}


{% endblock %}

{% block javascripts %}
    <script>
        var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //

            if (recipient !== "comment"){
                var modalTitle = exampleModal.querySelector('.modal-title')
                modalTitle.textContent = 'Répondre au commentaire'
            }
            else{
            }
            // Update the modal's content.
            var modalHeaderInput = exampleModal.querySelector('.modal-header input')
            modalHeaderInput.value = recipient
            //document.querySelector("#comment_parentid").value = recipient

        })
    </script>
{% endblock %}
